<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Girondist Planning System - Le calendrier web GRATUIT dans le monde</title>
<meta name="description" content="This is a fully-featured calendar app written in NodeJS that only displays dates in the French Revolutionary Calendar">
<meta name="keywords" content="calendar, node, javascript, metric time, french republican calendar, french revolutionary calendar, express, sql">
</head>

<body vlink="#8B008B" text="#336699" link="#00008B" bgcolor="#336699" background="index_files/bkgdhome1.gif" alink="#FF0000">
<!--
<form name="passwordform" action="https://web.archive.org/web/19971210171246/http://207.82.250.251/cgi-bin/start" method="POST">-->
<table cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
	<td></td>
	<td colspan="3"><font size="1">Free Metric Time Calendar ( calendrier électronique ) on <br>
					the Internet using your Web Browser.</font></td>
</tr><tr>
	<td rowspan="9" width="215" valign="top" align="center">
	
		<img src="index_files/spacer.gif" alt="-" width="215" height="1" border="0"><br>
		<img src="index_files/hotmail_logo.gif" alt="[gps logo]" width="171" height="128"><br>
		<br><br>
		<img src="index_files/slogan_bl.gif" alt="Le calendrier web GRATUIT dans le monde" width="114" height="133" border="0">
	</td>
	
	<td colspan="3" valign="top"><img src="index_files/home_lblreg2.gif" alt="Registered Users" width="400" height="14" border="0"></td>
</tr><tr>
	<td><img src="index_files/spacer.gif" alt="-" width="10" height="1" border="0"></td>
	<td colspan="2">
		<form class="Login">
		<table cellspacing="0" cellpadding="0" border="0">
		<tbody><tr>
			<td><img src="index_files/home_lbllogin.gif" alt="Login Name:" width="70" height="26" border="0"></td>
			<td>&nbsp;</td>
			<td><img src="index_files/home_lblpasswd.gif" alt="Password:" width="70" height="26" border="0"></td>
			<td rowspan="3" align="center"> <!--
				<input type="submit" value="Login">  -->
				<input type="image" value="Login" src="index_files/home_do_enter.gif" width="80" height="60" border="0">
				</td>
		</tr><tr>
			<td><input type="text" class="username" placeholder="zerocool" size="16"><br>
				<!--<input type="hidden" name="curmbox" value="ACTIVE">--></td>
			<td>&nbsp;</td>
			<td><input type="password" class="password" placeholder="******" size="16"></td>
		</tr><!--<tr>
			<td colspan="3" align="center"><input type="radio" name="frames" value="yes"><img src="index_files/home_lblframes.gif" alt="frames" width="70" height="17" border="0">
			<input type="radio" name="frames" value="no"><img src="index_files/home_lblnoframes.gif" alt="No frames" width="70" height="17" border="0">
			<input type="radio" name="frames" value="auto" checked="checked"><img src="index_files/home_lbldefault.gif" alt="Use my default" width="70" height="17" border="0"></td>
		</tr>-->
		</tbody></table></form>
	</td>
</tr><tr>
	<td colspan="3"><img src="index_files/spacer.gif" alt="-" width="1" height="17"></td>
</tr>

<tr>	
	<td colspan="3"><img src="index_files/home_lblvisit_info.gif" alt="Visitors" width="400" vspace="5" height="14" border="0"></td>
</tr><tr>
	<td></td>
	<td><!-- Begin New User Registration Form -->

<form class="CreateUser"><table cellspacing="0" cellpadding="0" border="0"><tbody>
	<tr><td><img src="index_files/home_lbllogin.gif" alt="Login Name:" width="70" height="26" border="0"></td></tr>
	<tr><td><input type="text" class="username" placeholder="zerocool" size="16"></td></tr>

	<tr><td><img src="index_files/home_lblpasswd.gif" alt="Password:" width="70" height="26" border="0"></td></tr>
	<tr><td><input type="password" class="password" placeholder="******" size="16"></td></tr>

<tr>
	<td><img src="index_files/spacer.gif" alt="-" width="1" height="15"></td>
</tr>

	<tr><td>
		<input type="image" value="Create" src="index_files/home_do_sign.gif" width="207" height="41" border="0">
	</td></tr>

</tbody></table></form>

		<!-- /end New User Registration Row -->
	</td>
	<td valign="top"><a href="https://github.com/zacfinger/gpstime" target="_blank"><img src="index_files/home_do_svcs.gif" alt="About GPS Calendrier" width="170" height="35" border="0"></a></td>
</tr><!--<tr>
	<td colspan="3"><img src="index_files/spacer.gif" alt="-" width="1" height="15"></td>
</tr>-->

<tr>
	<td colspan="3"><img src="index_files/home_lblawards.gif" alt="Awards" width="400" vspace="7" height="14"></td>
</tr><tr>
	<td></td>
	<td valign="middle" align="center"><a href="https://web.archive.org/web/19971210171246/http://www.hotmail.com:80/homepressdvorak.html"><img src="index_files/award_dvorak.gif" alt="Excellence Award" width="180" height="95" border="0"></a></td>
	<td valign="middle" align="center"><img src="index_files/award_pc.gif" alt="PC Computing Award" width="100" height="125" border="0"></td>
</tr><tr>
	<td></td>
	<td colspan="3"><font size="1">No software.  No configuration other <br> 
								than optional one-time POP Mail setup.</font></td>
</tr>
</tbody></table>
<!--
<input type="hidden" name="curmbox" value="ACTIVE">
<input type="hidden" name="js" value="yes">
</form>
-->
<a href="http://zacfinger.com" target="_blank">
<img src="index_files/c9697.gif" alt="Copyright CCXXVII-present" width="189" height="16" border="0"></a>
				<script>
				
    /*
This code was moved out of app.js 
    */
  const CreateUser = document.querySelector('.CreateUser')
CreateUser.addEventListener('submit', (e) => {
  e.preventDefault()
  const username = CreateUser.querySelector('.username').value
  const password = CreateUser.querySelector('.password').value
  post('/createUser', { username, password })
})

const Login = document.querySelector('.Login')
Login.addEventListener('submit', (e) => {
	//console.log("Button clicked");
  e.preventDefault()
  const username = Login.querySelector('.username').value
  const password = Login.querySelector('.password').value
  post('/login', { username, password })
    .then(({ status }) => {
      if (status === 200){
      	console.log('login success');
      	window.location.href = "/protected_page";
      } 
      else { alert('login failed'); }
    })
})

function post (path, data) {
  return window.fetch(path, {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
}

</script>

</body></html>
<!--
     FILE ARCHIVED ON 17:12:46 Dec 10, 1997 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:36:20 Dec 30, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->